// Specific CSS for your home-page
.banner {
  color: #606060;
  // text-align: center;
  height: 100vh;
  padding-left: 30px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;

  h1 {
    font-size: 48px;
    color: #606060;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
    letter-spacing: 5px;
  }

  p {
    font-size: 24px;
    color: #424242;
    font-weight: lighter;
    opacity: 0.6;
    margin-bottom: 30px;
    text-align: left;
  }
}



.banner-content {
  .btn {
  margin-top: 30px;
  }
}


.about {
  color: #606060;
  // text-align: center;
  height: 70vh;
  padding-left: 30px;
  background-color: white;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;

   h2 {
    font-size: 32px;
    color: #606060;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: left;

  }

   p {
    font-size: 24px;
    color: #424242;
    font-weight: lighter;
    opacity: 0.6;
    margin-bottom: 30px;
    text-align: left;
  }
}

.statement {
  color: white;
  // text-align: center;
  height: 50vh;
  padding-left: 30px;
  background-color: #12CCCC;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;

   h2 {
    font-size: 32px;
    color: #606060;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

   p {
    font-size: 24px;
    color: #424242;
    font-weight: lighter;
    opacity: 0.6;
    margin-bottom: 30px;
    text-align: left;
  }
}


.contact {
  color: #606060;
  // text-align: center;
  height: 50vh;
  padding-left: 30px;
  background-color: white;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;

   h2 {
    font-size: 32px;
    color: #606060;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

   p {
    font-size: 24px;
    color: #424242;
    font-weight: lighter;
    opacity: 0.6;
    margin-bottom: 30px;
    text-align: left;
  }
}

.footer {
  background: rgb(16,16,16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgb(248,248,248)
}

mark.blue{
  color: #12CCCC;
  background: rgb(16,16,16);

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(245,245,245);
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #12CCCC;
}
.footer .fa-heart {
  color: #12CCCC;
}
