.btn-save {
  margin-bottom: 50px;
}

.margin-modal {
  display: flex;
  justify-content: center;
  // margin-top: 100px;
  // padding: 70px, 50px, 50px 0px;
  border-bottom: 1px solid #12CCCC;
  margin-bottom: 5px;

  h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.margin-modal-text {
   p {
   font-size: 20px;
   margin-bottom: 5px;
   color: #004056;
   // font-weight: bold;
   // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
   letter-spacing: 2px;
  }
}

.margin-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  // padding: 70px, 50px, 50px 0px;
  border-bottom: 1px solid #12CCCC;
  // margin-bottom: 15px;

   h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.deny-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  // padding: 70px, 50px, 50px 0px;
  border-bottom: 1px solid #12CCCC;
  // margin-bottom: 15px;

   h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.margin-call-box {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;



 h3 {
    font-size: 22px;
    // margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.money-info {
  padding: 20px 0 20px 0;
  align-items: center;



  p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #004056;
  // font-weight: bold;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  }
}

#margin-requirement {
  color: $red;
}


// ul {
//   list-style: none;
//   // border-bottom: 1px solid rgba(80, 80, 80,.7)
// }

// #margin-amount {
//   padding-right: 0;
// }

// #margin {
//   padding-left: 0;
// }


.deposit {
  padding: 10px 15px;
}

// @media (min-width: 1000px)
// {
//     .mobile-only {
//     display: none;
//   }
//  }
