.margin-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  // padding: 70px, 50px, 50px 0px;
  border-bottom: 1px solid #12CCCC;
  // margin-bottom: 15px;

   h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.deny-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  // padding: 70px, 50px, 50px 0px;
  border-bottom: 1px solid #12CCCC;
  // margin-bottom: 15px;

   h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.margin-call-box {
  display: flex;
  justify-content: space-between;

 h3 {
    font-size: 20px;
    // margin-bottom: 15px;
    color: #004056;
    font-weight: bold;
    // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 5px;
  }
}

.money-info {
  padding: 20px 0 20px 0;
  align-items: center;

  p {
  font-size: 18px;
  margin-bottom: 5px;
  color: #004056;
  // font-weight: bold;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  }
}

// ul {
//   list-style: none;
//   // border-bottom: 1px solid rgba(80, 80, 80,.7)
// }

// #margin-amount {
//   padding-right: 0;
// }

// #margin {
//   padding-left: 0;
// }

.assets-box {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  column-gap: 50px;
}

.grid-item-asset-1 {
  grid-column: 1/1;
  grid-row: 1/1
}

.grid-item-asset-2 {
  grid-column: 1/1;
  grid-row: 2/1
}

.grid-item-asset-3 {
  grid-column: 1/1;
  grid-row: 3/1;
}

.grid-item-asset-4 {
  grid-column: 1/1;
  grid-row: 4/1;
}

.grid-item-asset-5 {
  grid-column: 1/1;
  grid-row: 5/1;
}

.grid-item-asset-6 {
  grid-column: 1/1;
  grid-row: 6/1
}

.grid-item-asset-7 {
  grid-column: 1/1;
  grid-column: 7/1;
}

.grid-item-asset-8 {
  grid-column: 1/1;
  grid-row: 8/1
}

.grid-item-asset-9 {
  grid-column: 1/1;
  grid-row: 9/1
}

.grid-item-asset-10 {
  grid-column: 1/1;
  grid-row: 10/1
}

.grid-item-amount-1 {
  grid-row: 1/1;
  grid-column: 2/1;
}

.grid-item-amount-2 {
  grid-row: 2/1;
  grid-column: 2/1;
}

.grid-item-amount-3 {
  grid-row: 3/1;
  grid-column: 2/1;
}

.grid-item-amount-4 {
  grid-row: 4/1;
  grid-column: 2;
}

.grid-item-amount-5 {
  grid-row: 5/1;
  grid-column: 2;
}

.grid-item-amount-6 {
  grid-row: 6/1;
  grid-column: 2;
}

.grid-item-amount-7 {
  grid-row: 7/1;
  grid-column: 2;
}

.grid-item-amount-8 {
  grid-row: 8/1;
  grid-column: 2;
}

.grid-item-amount-9 {
  grid-row: 9/1;
  grid-column: 2;
}

.grid-item-amount-10 {
  grid-row: 10/1;
  grid-column: 2;
}
