<div class="margin-box">
  <div>
    <ul id="margin" class="text-left">
      <li>Margin Call</li>
      <li>Guarantees Deposited</li>
      <li><h4>Margin to Cover</h4></li>
    </ul>
  </div>
  <div>
    <ul id="margin-amount" class="text-right">
      <li>R$100,000</li>
      <li>R$73,400</li>
      <li><h4>R$26,600</h4></li>
    </ul>
  </div>
</div>
<div class="container">
    <div class="assets-box">
      <ul>
        <li class="grid-item">
          <h2 class="grid-item-asset-1">Cash</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-2">Stock</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-3">Bonds</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-4">Rural land notes</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-5">Letters of credit</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-6">Some</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-7">Other</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-8">Finance</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-9">Stuff</h2>
        </li>
        <li>
          <h2 class="grid-item-asset-10">here</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-1">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-2">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-3">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-4">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-5">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-6">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-7">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-8">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-9">Amount</h2>
        </li>
        <li>
          <h2 class="grid-item-amount-10">Amount</h2>
        </li>
      </ul>
    </div>
</div>
