<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="margin-box">
        <div>
          <ul id="margin" class="text-left">
            <li>Margin Requirement</li>
            <li>Guarantees Deposited</li>
            <li><h4>Margin Call</h4></li>
          </ul>
        </div>
        <div>
          <ul id="margin-amount" class="text-right">
            <li>R$100,000</li>
            <li>R$73,400</li>
            <li><h4>R$26,600</h4></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "/shared/dragndrop_list" %>

