<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="footer-links text-left">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
             <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.github.com/"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="footer-copyright">
        <p class="text-right">An ocean of transparency <mark class="blue">Atlantico Hub</mark><i class="fas fa-swimming-pool"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
