<div class="footer">
  <div class="footer-links">
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
       <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
      <a href="https://www.github.com/"><i class="fab fa-github"></i></a>
  </div>
      <div class="footer-copyright">
        Choose what's below the surface with <mark class="blue">Atlantico Hub</mark><i class="fas fa-swimming-pool"></i>
      </div>
</div>
