<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="modal fade" id="modal-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- <h3 class="modal-title">Page header YAY</h3> -->
            <div class="margin-modal">
              <% title = 'Confirmation' %>
              <h2 class="text-center"><%= title.upcase! %></h2>
            </div>
            <div class="margin-modal-text">
              <p>Your assets will be used acording to this selection:</p>
            </div>
          </div>
          <div id="items-modal">
              <%= render "shared/assets", categories: @categories %>
              <div class="deposit text-right">
                <p><strong>Total: <%= (current_user.margin_call.requirement - current_user.margin_call.guarantee).format %></strong>   </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="" class="btn btn-default" data-dismiss="modal">Close</a>
            <%= link_to 'Save', priority_path(current_user) , class: 'btn btn-primary' %>
          </div>
        </div>
     </div>
   </div>
 </div>
</div>
</div>
