<div class="container">
  <div class="row">
    <div class="margin-box">
     <% title = 'Margin Call' %>
     <h2 class="text-center"><%= title.upcase! %></h2>
   </div>
    <div class ="money-info">
      <div class="margin-call-box">
        <span><p>Margin Requirement</p></span>
        <span><p><%= current_user.margin_call %></p></span>
      </div>
      <div class="margin-call-box">
        <span><p>Guarantees Deposited</p></span>
        <span><p>R$7,400</p></span>
      </div>
      <div class="margin-call-box">
        <span><h2>Margin Call</h2></span>
        <span><h2>R$2,600</h2></span>
      </div>
    </div>
  </div>
</div>

<%= render "/shared/dragndrop_list" %>
