<div class="banner">
  <div class="banner-content">
    <!-- <h1>Atlantico Hub</h1> -->
    <% name = 'Atlantico Hub' %>
    <h1><%= name.upcase! %></h1>
    <p>Transparent guarantee selection for investment firms</p>
    <a class="btn btn-primary text-left">Schedule a meeting</a>
  </div>
</div>
<div class="about text-center">
  <h2>How it works</h2>
  <div class="about-content">
    <div class="row">
      <div class="col-xs-6 col-md-4">
          <div class="icon-container">
            <div class="icon-wrapper">
              <%= image_tag "icon_landing_reorder.svg" %>
              <p> Rearrange your assets and guarantees</p>
            </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4">
          <div class="icon-container">
            <div class="icon-wrapper">
              <%= image_tag "icon_landing_info.svg" %>
              <p> Keep tabs in real time of all your collaterals and coverages </p>
            </div>
          </div>
      </div>
      <div class="col-xs-6 col-md-4">
          <div class="icon-container">
            <div class="icon-wrapper">
              <%= image_tag "icon_landing_sendoff.svg" %>
               <p> Send your choice of allocations  to your broker </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="statement">
  <div class="statement-content">
<div class="row">
  <div class="col-md-6">
    <h2>Get to know us</h2>
    <p>Schedule a call and ask for an invite</p>
  </div>
   <div class="col-md-6">
    <div class="form form-inline">
     <p> PUT LITTLE INLINE FORM HERE TO CATCH EMAILS OF CLIENTS</p>
    </div>
  </div>
</div>
  </div>
</div>

<div class="contact">
  <div class="contact-content">
    <div class="row">
      <div class="col-md-8">
        <div class="text">
          <h2>Smart solutions for asset managers</h2>
          <p> Voluptates laudantium ut et. Et est vitae a. Architecto tempora modi maxime. Praesentium nesciunt et voluptas. Aut dolore sapiente quia qui consequatur illo tenetur. Iure possimus maxime et consectetur vitae reiciendis et placeat.

          Numquam ea voluptatem sint optio. Quos rem excepturi aliquam velit maxime voluptate. Aut perspiciatis sapiente velit. Libero molestiae atque illo consectetur porro natus. Et labore eaque delectus molestias eos maiores quidem. Est delectus ullam excepturi eos.

          Voluptatem magnam dolor eaque. Blanditiis voluptatem consequuntur consequatur in. Voluptatem consectetur dolor at quia dignissimos qui mollitia. Commodi quasi et nisi at repudiandae.</p>
        </div>
      </div>
    </div>
  </div>
</div>
