<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.6) 80%, rgba(18, 204, 204, 0.6) 20%), url('https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f18c35d33a6282aaecfca8a8fc4265a6&auto=format&fit=crop&w=1350&q=80');">
  <div class="banner-content">
    <h1>Atlantico Hub</h1>
    <p>Transparent guarantee selection for investment firms</p>
    <a class="btn btn-primary btn-lg text-left">Schedule a meeting</a>
  </div>
</div>
<div class="about">
  <div class="about-content">
    <h2>Atlantico Hub</h2>
    <p>Transparent guarantee selection for investment firms</p>
  </div>
</div>


<div class="container">
<%= render "/shared/dragndrop_list" %>
</div>
