<div class="banner">
  <div class="banner-content">
    <!-- <h1>Atlantico Hub</h1> -->
    <% name = 'Atlantico Hub' %>
    <h1><%= name.upcase! %></h1>
    <p>Transparent guarantee selection for investment firms</p>
    <a class="btn btn-primary btn-lg text-left">Schedule a meeting</a>
  </div>
</div>
<div class="about">
  <div class="about-content">
    <div class="text">
      <h2>Smart solutions for asset managers</h2>
      <p> Voluptates laudantium ut et. Et est vitae a. Architecto tempora modi maxime. Praesentium nesciunt et voluptas. Aut dolore sapiente quia qui consequatur illo tenetur. Iure possimus maxime et consectetur vitae reiciendis et placeat.

      Numquam ea voluptatem sint optio. Quos rem excepturi aliquam velit maxime voluptate. Aut perspiciatis sapiente velit. Libero molestiae atque illo consectetur porro natus. Et labore eaque delectus molestias eos maiores quidem. Est delectus ullam excepturi eos.

      Voluptatem magnam dolor eaque. Blanditiis voluptatem consequuntur consequatur in. Voluptatem consectetur dolor at quia dignissimos qui mollitia. Commodi quasi et nisi at repudiandae.</p>
    </div>
  </div>
</div>
<div class="statement">
  <div class="statement-content">
    <h2>Atlantico Hub</h2>
    <p>Transparent guarantee selection for investment firms</p>
     <h2>How it works</h2>
    <p>Drag and drop the fields to rearrange guarantee allocation</p>
    <%= render "/shared/dragndrop_list" %>
  </div>
</div>
<div class="contact">
  <div class="contact-content">
    <h2>Atlantico Hub</h2>
    <p>Transparent guarantee selection for investment firms</p>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-github"></i></a>
    <a href="#"><i class="fas fa-instagram"></i></a>
    <a href="#"><i class="fas fa-facebook"></i></a>
    <a href="#"><i class="fas fa-twitter"></i></a>
    <a href="#"><i class="fas fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Choose what's below the surface with Atlantico Hub <i class="fas fa-swimming-pool"></i>
  </div>

