body {
  margin: 10px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.my-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}

.number{
  border-radius: 50%;
  background-color: white;
}
