.category-wrapper {
  display: flex;
  justify-content: space-around;
}

.category-container {
  width: 700px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.my-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}

.number {
  border-radius: 50%;
  background-color: white;
}

.my-handle {
  height: 30px;
  margin-right: 40px;
  color: #12cccc;
}

.icons {
  height: 30px;
  fill: #12cccc;
  position: absolute;
  left: 50%;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.span-text {
  font-size: 27px;
}
