#priority-container {
  margin-top: 80px;
  display: center;
}

#containinho {
  margin-bottom:20px;
  border-bottom: 1px solid #12CCCC;
}

#rowzinho {
  margin-bottom: 20px;
}


.btn-priority {
  margin-bottom: 50px;
}

@media print {
  .footer, .btn {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }

}

