
#priority-container {
  margin-top: 80px;
  display: center;
}

#containinho {
  margin-bottom:20px;
  border-bottom: 1px solid #12CCCC;
}

#rowzinho {
  margin-bottom: 20px;
}


@media (max-width: 400px)
{
  .btninho
   {
    display: block;
    margin-bottom: 10px;
   }
}

