
#priority-container {
  margin-top: 80px;
  display: center;
}

#priority-cont2{
  margin-top: 20px;
  margin-right: 180px;

}

#containinho {
  margin-bottom:20px;
  border-bottom: 1px solid #12CCCC;
}

#rowzinho {
  margin-bottom: 20px;
}

.btn-priority {
  margin-bottom: 50px;
}
